/node_modules/
*~
.gcloudignore

Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintignore
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit/*
.vscode
node_modules/*
build/*
package
**/.env
*.log
logs
.DS_Store
